In [2]:
import pandas as pd

In [3]:
# ---------------------------------------
# Step 1: Import pandas and create a DataFrame
# ---------------------------------------
employees = pd.DataFrame([
{"Name": "Aisha Khan", "Age": 29, "Department": "Sales", "Salary": 72000},
{"Name": "Ben Carter", "Age": 34, "Department": "Marketing", "Salary": 68000},
{"Name": "Chao Liu", "Age": 26, "Department": "Sales", "Salary": 61000},
{"Name": "Diana Lopez", "Age": 41, "Department": "Operations", "Salary": 88000},
{"Name": "Evan Singh", "Age": 31, "Department": "Sales", "Salary": 75000},
{"Name": "Farah Noor", "Age": 28, "Department": "Marketing", "Salary": 64000},
])

In [4]:
# Show the first rows to verify the table
print(employees.head()) # .head() shows the top 5 rows by default; no arguments used here

          Name  Age  Department  Salary
0   Aisha Khan   29       Sales   72000
1   Ben Carter   34   Marketing   68000
2     Chao Liu   26       Sales   61000
3  Diana Lopez   41  Operations   88000
4   Evan Singh   31       Sales   75000

In [5]:
# ---------------------------------------
# Step 2: Inspect data types (dtypes)
# ---------------------------------------
print(employees.dtypes)

Name          object
Age            int64
Department    object
Salary         int64
dtype: object

In [6]:
# ---------------------------------------
# Step 3: Filter by dtype using select_dtypes
# ---------------------------------------
# Select only numeric columns:
numeric_cols = employees.select_dtypes(include=['number'])
#numeric_cols = employees.select_dtypes(include=['int64', 'float64'])
print(numeric_cols)
print(list(numeric_cols.columns))

   Age  Salary
0   29   72000
1   34   68000
2   26   61000
3   41   88000
4   31   75000
5   28   64000
['Age', 'Salary']

In [7]:
# Select only categorical (non-numeric) columns:
categorical_cols = employees.select_dtypes(exclude=['number'])
#categorical_cols = employees.select_dtypes(include=['object'])
print(categorical_cols)
print(list(categorical_cols.columns))

          Name  Department
0   Aisha Khan       Sales
1   Ben Carter   Marketing
2     Chao Liu       Sales
3  Diana Lopez  Operations
4   Evan Singh       Sales
5   Farah Noor   Marketing
['Name', 'Department']